/* Basic resets */

* { 
    margin:0; padding:0; 
    box-sizing: border-box;
}

body {
	background-color:white;
	margin: 5px;
	font-family: "Expletus Sans", sans-serif;
	position: relative;
}

#name {
	position: absolute;
	text-align: center;
	font-weight: bold;
	line-height: 109px;
    top: 447px;
    left: 0px;
    font-size: 48px;
	height: 109px;
	width: 1081px;
	color: white;
}

#img-background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1081px;
	height: 608px;
}
