.properties_background_grey {
  background-color: #eee;
}

.inactive_property {
  opacity: 0.5;
  color: red;
}

.properties_table_div {
  display: block;
  overflow-x: auto;
}

table.properties_table, th.properties_table, td.properties_table {
  border: 1px solid black;
  border-collapse: collapse;
}

table.properties_table tr:nth-child(even) {
  background-color: #ddd;
}
table.properties_table tr:nth-child(odd) {
  background-color: #eee;
}


.bluesky_stats_flex_container_horizontal_spaced  {
  display: flex;
  justify-content: space-between;
  align-content: center
}
.bluesky_stats_color_alert {
  color: #E20019
}
.bluesky_stats_color_no_alert {
  color: #FFFFFF
}
.bluesky_stats_color_dark_blue {
  color: #061F54
}
.bluesky_stats_text_people_stats_title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 13pt;
  font-weight: bold
}
.bluesky_stats_text_people_stats {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 20pt;
  font-weight: bold
}
.bluesky_stats_people_stats_unclaimed_leads {
  margin-left: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 70px;
  border-color: #061F54;
  border-style: solid;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 3px;
  border-bottom-width: 0px;
}
.bluesky_stats_people_stats_leadspeed {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 70px;
  border-color: #061F54;
  border-style: solid;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 3px;
  border-bottom-width: 0px;
}
.bluesky_stats_people_stats_tenacity {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 70px;
  border-color: #061F54;
  border-style: solid;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 3px;
  border-bottom-width: 3px;
}


.latest_inspection_and_deficients_flex_container_horizontal_space_evenly  {
  display: flex;
  justify-content: space-evenly;
  align-content: center
}
.latest_inspection_and_deficients_color_alert {
  color: #E20019
}
.latest_inspection_and_deficients_color_no_alert {
  color: #FFFFFF
}
.latest_inspection_and_deficients_color_dark_blue {
  color: #061F54
}
.latest_inspection_and_deficients_color_blue {
  color: #0F3C69
}
.latest_inspection_and_deficients_color_white {
  color: #FFFFFF
}
.latest_inspection_and_deficients_bkg_color_white {
  background-color: #FFFFFF
}

.latest_inspection_and_deficients_di_table {
  margin: auto;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  .latest_inspection_and_deficients_di_table_header {
    margin: auto;
    padding: 0px;
    width: 100%;
  }
  .latest_inspection_and_deficients_di_table_row {
    margin: auto;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    border-color: #061F54;
    border-style: solid;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0px;
    border-bottom-width: 3px;
  }
}

.latest_inspection_and_deficients_text_inspection_error {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 13pt;
  font-weight: normal
}
.latest_inspection_and_deficients_text_inspection_title {
  margin: auto;
  margin-left: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 16pt;
  font-weight: bold
}
.latest_inspection_and_deficients_text_inspection_score {
  margin: auto;
  margin-right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 22pt;
  font-weight: normal
}
.latest_inspection_and_deficients_text_inspection_date {
  margin: auto;
  margin-right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 18pt;
  font-weight: normal
}
.latest_inspection_and_deficients_text_inspection_report {
  margin: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 16pt;
  font-weight: normal
}
.latest_inspection_and_deficients_text_inspection_table_title {
  margin: auto;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 12pt;
  font-weight: bold
}
.latest_inspection_and_deficients_text_inspection_table_row_title {
  margin: auto;
  margin-left: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 14pt;
  font-weight: bold
}
.latest_inspection_and_deficients_text_property_di_value {
  margin: auto;
  margin-right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 18pt;
  font-weight: normal
}

.latest_inspection_and_deficients_svg_report {
  fill: #0F3C69;
  width: 30px;
  height: 30px;
}